<h4>Post details:</h4>
<br />
    <p>
        <%= @res.content %> 
        <br />
        <br />
        Added at <%= @res.created_at %>
</p>
<br />
<h4>Comments:</h4>
<br />
<% @results_comment.each do |comment| %>
    <p>
    <%= comment.content_comment %>
    <br />
    <br />
    <span style="font-size: 75%; color: #999"> Added at <%= comment.created_at%> </span>
    </p>
    <hr />
<% end %>

<p>
    <form action="/details/<%= @res.id %> " method="POST">
        <textarea name="comment[content_comment]" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
        <br />
        <button type="submit" class="btn btn-primary btn-lg">Add comment</button>
    </form>
</p>